.dialog_close_icon svg
{
	stroke: currentColor;
	pointer-events: none;
}

.dialog_refresh_icon svg
{
	fill: currentColor;
	pointer-events: none;
}

.dialog_overlay
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #000000;
}

.dialog_wrapper
{
	position: absolute;
	border: 1px solid #1870B5;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 10pt;
	overflow-x: hidden;
	overflow-y: hidden;
	min-width: 160px;
	min-height: 24px;
	max-width: 90vw;
	box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.4);
}

	.dialog_wrapper.darkTheme
	{
		background-color: #393939;
		color: #cdcdcd;
	}

.dialog_titlebar
{
	position: relative;
	height: 24px;
	overflow: hidden;
	padding-right: 40px;
	border-bottom: 1px solid #B5D5FF;
	user-select: none;
	cursor: default;
	font-size: 0px;
}

.dialog_wrapper.darkTheme .dialog_titlebar
{
	border-bottom: 1px solid #15273f;
	background-color: #272727;
}

.dialog_title
{
	padding: 0px 4px;
	top: 0px;
	left: 0px;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	user-select: none;
}

.dialog_close,
.dialog_refresh
{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 24px;
	background-color: #FFFFFF;
}

	.dialog_close:hover
	{
		background-color: #E81123;
		color: #FFFFFF;
	}

	.dialog_close:active
	{
		background-color: #F1707A;
		color: #FFFFFF;
	}

.dialog_wrapper.darkTheme .dialog_close,
.dialog_wrapper.darkTheme .dialog_refresh
{
	background-color: #272727;
	color: #cdcdcd;
}

	.dialog_wrapper.darkTheme .dialog_close:hover
	{
		background-color: #9b0612;
	}

	.dialog_wrapper.darkTheme .dialog_close:active
	{
		background-color: #7d040e;
	}

.dialog_refresh
{
	right: 40px;
}

	.dialog_refresh:hover,
	.dialog_wrapper.darkTheme .dialog_refresh:hover
	{
		background-color: #158e1d;
		color: #FFFFFF;
	}

	.dialog_refresh:active,
	.dialog_wrapper.darkTheme .dialog_refresh:active
	{
		background-color: #146619;
		color: #FFFFFF;
	}

.dialog_close_icon, .dialog_refresh_icon
{
	width: 12px;
	height: 12px;
	margin: 6px auto;
}

.dialog_content
{
	position: relative;
	padding: 2px 4px;
	overflow: auto;
	max-width: 90vw;
	max-height: 85vh;
}

	.dialog_content a, .dialog_content a:visited
	{
		color: #88DDFF;
	}

.dialog_wrapper.loading::after
{
	content: "";
	position: absolute;
	top: 24px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}
