.b-m-mpanel {
	background-color: #F0F0F0;
	border: 1px solid #718BB7;
	padding: 2px 0;
	position: absolute;
	z-index: 99997;
	left:0px;
	top:0px;
	color: Black;
	font-size: 12px;
	cursor: default;
}
.b-m-split {
	height: 0px;
	border-top: 1px solid #D0CFCF;
	border-bottom: 1px solid #FFFFFF;
	font-size: 0px;
	margin: 2px 2px;
}
.b-m-item, .b-m-idisable
{
	padding: 3px 1px;
	border: 1px solid transparent;
	margin: 0 2px 0 3px;
	cursor: normal;
	line-height: 100%;
}
.b-m-idisable
{
    color:#808080;
}
.b-m-ibody, .b-m-arrow {
	overflow: hidden;
	text-overflow: ellipsis;
	
}
.b-m-arrow {
	background: url(data:image/gif;base64,R0lGODlhBQAJAMQUAFSg6UGJ2TyE04rD/CluvlWUzo7D9ixwwDiC1j2I3UeLyTmE0zJ1v2eg1Tp6zmKq8ZXL/ypxv1Kg7Ct1yv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABQALAAAAAAFAAkAAAUcIEKNVCKQE7SMkzEE1AQ8DTNJRRQrBHuQDhIlBAA7) right  no-repeat;	
}
.b-m-idisable .b-m-arrow
{
    background:none;
}
.b-m-icon
{
	display: inline-block;
	vertical-align:middle;
	margin-right: 8px;
	width: 16px;
	height: 16px;
}
.b-m-ifocus {
	background: url(data:image/gif;base64,R0lGODlhAQAWAIAAAOvz/dno+yH5BAAAAAAALAAAAAABABYAAAIFhI+hy1oAOw==) repeat-x bottom;
	border: 1px solid #AACCF6;
	padding: 3px 1px;
    margin: 0 2px 0 3px;
    cursor: normal;
    line-height:100%;
}
.b-m-idisable .b-m-icon {
	visibility:hidden;
}